
body {
    padding-top: 5rem;
    background-color: #dbe9ff;
}
.cformhr{
    background-color:black
}
/*.emailform label{*/
/*    display: block;*/
/*}*/

label {
    font-weight:bold;
    display:inline-block;
    font-size: smaller;
    letter-spacing: 1px;
    padding-top: 1.1rem;
    margin-left: 30px;
    color:#3f3f3f;
    
}

select{
    margin-left: 30px;
    width: 20rem;
    border-radius: 6px;
    border: 1.5px #d3d3d3;
    border-style: double;
    height: 2.1rem;
    
    
}
h1{
  width: 45%;
  margin: 0 auto;
  color:#3f3f3f;
  padding-bottom: 1em;
}
.form{
  width: 45%;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  border-top: 4px solid #007bff;
}
.req {
    display:inline;
    font-size: smaller;
    font-weight:bold;
    color: #bc0000;
}
.info{
    margin-bottom: 5px;
}

p {
 font-size: smaller;
 padding-top: 1.5px;
 margin-bottom: 12px;
}

input {
     border-radius: 6px;
     border: 1.5px #d3d3d3;
     border-style: double;
     height: 2.1rem;
     margin-left: 30px;
     width: 20rem;
     padding-left: 10px;
}

#biography{
    height: 5.5rem;
    width: 20rem;
}

input[type="file"] {
    display: none;
}

.upload{
    background-color: white;
    border: 1.5px solid #d3d3d3;
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.12),0 2px 4px 0 rgba(0,0,0,0.08);
    color: #3f3f3f;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding: 6.5px 10px;
    border-radius: 7px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 30px;
    cursor:pointer;
    letter-spacing: 1px;
    height: 34px;
    width: 111px;
    display: inline-block;

}
.browse{
    color: #3f3f3f;
    font-weight: bold;
    font-size: 12px;
    text-align: center
}
button {
    background-color: #56e522;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 6.5px 10px;
    border-radius: 7px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 30px;
    cursor:pointer;
    letter-spacing: 1px;

}
.flashes{
    background-color: #cccccc;
    border-radius: 7px;
    display: inline-block;
    padding: 10px;
    margin: 10px;

    /* Font styles */
    color: white;
    font-weight: bold;
    text-decoration: none;
   
    
}