{% extends "base.html" %}
{% block title %} Profile {% endblock %}


{% block main %}
<h1>Add Profile</h1>
<div class="form">
<form class="emailform" method="POST" action="{{url_for('upload')}}" enctype="multipart/form-data">
 {{ form.csrf_token }}
 
 {{ form.fname.label }}<span class="req"></span>
 <br>
 {{ form.fname}}
 <br>
 {{ form.lname.label}}<span class="req"></span>
 <br>
 {{ form.lname}}
 <br>
 {{ form.gender.label}}<span class="req"></span>
 
 <br>
  {{ form.gender (description='Select a Gender')}}
 <br>
 {{ form.email.label }}<span class="req"></span>
 <br>
 {{ form.email (placeholder="e.g. jdoe@example.com")}}
 <br>
 {{ form.location.label }}<span class="req"></span>
 <br>
 {{ form.location(placeholder="e.g. Kingston, Jamaica") }}
<br>
 {{ form.biography.label }}<span class="req"></span>
 <br>
 {{ form.biography }}
 <br>
  {{form.csrf_token }}
  {{form.upload.label}}
  <br>
  {{form.upload()}}
  
  <label for="upload" class="upload">
    Browse...
  </label>
  <!--<input id="file-upload" type="file"/>-->
 <br>
 <button type="submit" name="submit">Add Profile</button>
</form>
</div>
{% endblock %}